<!DOCTYPE html>
<html>
  <head>
    <title>Metric/Imperial Converter</title>
    <meta name="description" content="An example of the Free Code Camp Metric/Imperial Converter Project">
    <link id="favicon" rel="icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/style.css">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <!-- Babel Script -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script type="text/babel">
      const app = document.getElementById('root');

      function App() {
        const [valueToConvert, setValueToConvert] = React.useState('');
        const [convertedValue, setConvertedValue] = React.useState();
        async function handleSubmit(event) {
          event.preventDefault();
          console.log(valueToConvert)
          //const response = await fetch('/testPost', {
          //method: 'POST',
          //headers: {
          //'Content-Type': 'application/json',
          //},
          //body: JSON.stringify({userEntry: valueToConvert}),
          //})
          const response = await fetch(`/api/convert?input=${valueToConvert}`)
          const data = await response.json()
          setConvertedValue(data)
          console.log(data)
        }
        
        return (
          <main className='h-screen bg-indigo-800 text-white px-10 pt-2'>
          
          <h1 className='text-3xl align-center'>Metric/Imperial Converter</h1>
          <hr />
          <section>
            <h3 className='text-xl mt-3 mb-2'>Example usage</h3>
            <div className ='text-black flex flex-col gap-2'>
            <code className='bg-gray-200' >/api/convert?input=4gal</code>
            <code className='bg-gray-200' >/api/convert?input=1/2km</code>
            <code className='bg-gray-200' >/api/convert?input=5.4/3lbs</code>
            <code className='bg-gray-200' >/api/convert?input=kg</code>
            </div>
            <h3 className='text-xl mt-3 mb-2'>Example return</h3>
            <div className ='text-black flex flex-col gap-2'>
            <code className='bg-gray-200' >&#123; initNum: 3.1, initUnit: 'mi', returnNum: 4.98895, returnUnit: 'km', string: '3.1 miles converts to 4.98895 kilometers'  &#125;</code>
            </div>
          </section>
          <hr />
          <section>
            <div id='testui' >
              <h3 className='text-xl mt-3 mb-2'>Front-End</h3>
              <form id="convertForm" className="border flex flex-col w-1/2" onSubmit={handleSubmit}>
                <input value={valueToConvert} onChange={(evemt) => setValueToConvert(event.target.value)} type="text" id="convertField" name="input" placeholder="3.1mi" className='text-black'/>
                <button id="convert" type="submit" value='Convert!' className='hover:bg-indigo-900 transition-all duration-200'>Convert!</button>
              </form>
              {convertedValue && <p id='result'>{convertedValue.string}</p>}
              <code id='jsonResult' className='text-black bg-gray-200'>{JSON.stringify(convertedValue)}</code>
            </div>
          </section>
          </main>
        )
      }      
      ReactDOM.render(<App/>, app);
    </script>
  </head>
  <body >
    <div id='root'></div>
  </body>
</html>
